/*------ */
/* RESET */
/*------ */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button,
a {
  cursor: pointer;
}

/*------ */
/* FONTS */
/*-------*/

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

/*-------- */
/* GENERAL */
/*-------- */

:root {
  --primary-text-color: #ffffff;
  --heading-text-color: #f9f9f9;

  --primary-bg-color: #011f35;
  --secondary-bg-color: #39daff;

  --transition: all 200ms ease-in-out;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: var(--primary-text-color);
  background: radial-gradient(71.11% 100% at 50% 0%, #020204 14.6%, #011f35 100%);
}

.main-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
